body {
/*     background: url("../img/bg.png") no-repeat center center fixed; 
    background-size: cover;  */
    overflow: hidden; 
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

:root {
    --box-shadow-color: 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
}

.container {
    display: none;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: 'Acrom';
    src: url("../font/Acrom-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'TT Norms';
    src: url("../font/TTNorms-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../font/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'pdown';
    src: url('../font/pdown.ttf');
}


.car-hud {
    position: absolute;
    right: 3vh;
    bottom: 3vh;
    display: none;
}

/* voice */
.voice {
    position: absolute;
    width: 52px;
    height: 55px;
    right: 95%;
    bottom: 90%;
}

.voice-elipse {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    right: 2px;
    top: 10px;
    z-index: 1;
    font-family: TT Norms;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #98A5C5;
    box-shadow: var(--box-shadow-color);
}

.voice-elipse-2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #0000007e;
    box-shadow: var(--box-shadow-color);
}


.circle-ripple {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    animation: ripple 0.7s linear infinite;
}
  
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgb(48 71 94 / 30%),
                    0 0 0 3px rgb(48 71 94 / 30%),
                    0 0 0 8px rgb(48 71 94 / 30%);
    }
    100% {
        box-shadow: 0 0 0 3px rgb(48 71 94 / 30%),
                    0 0 0 8px rgb(48 71 94 / 30%),
                    0 0 0 16px rgb(48 71 94 / 0%);
    }
}

.voice-microphe-icon-1 {
    position: absolute;
    width: 13.09px;
    height: 18px;
}

.voice-microphe-icon-2 {
    position: absolute;
    width: 25.45px;
    height: 35px;
}

/* street Text */
.street-text {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    position: absolute;
    left: 5%;
    bottom: 91.4%;
    min-width: 253px;
}

.street-text-main {
    min-width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.street-text-compass {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #0000007e;
    height: 40px;
    width: 40px;
    box-shadow: var(--box-shadow-color);
}

.street-text-text {
    padding: 0 20px 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgb(1 1 1);
    font-size: 14px;
}

/* minimap */
.mapoutline {
    display: none;
    position: fixed;
    border: 2px solid rgba(255,255,255,0.2);
    overflow: hidden;
    width: 29.629vh;
    height: 15.7vh;
    bottom: 3.2vh;
    left: 2.6vh;
    width: 24.7vh;
    border-radius: 3px;
}

/* Status Hud */

.status-hud {
    display: flex;
    position: absolute;
    bottom: 2%;
    left: 1%;
}

.status-hud2 {
    display: flex;
    position: absolute;
    bottom: 87%;
    left: 1.7%;
}


.car-status-hud {
    opacity: 0.0;
    display: flex;
    position: absolute;
    bottom: 5.5vh;
    left: 7.8vh;
    width: 25.5vh;
}


.status-bar, .car-status-bar {
    position: relative;
    background: rgba(17, 17, 17, 0.5);
    width: 150px;
    height: 30px;
    border-radius: 2px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 5px;
    box-shadow: var(--box-shadow-color);
    left: 15px;
}

.car-water-bar {
    margin-right: 0;
}

.car-status-bar {
    height: 0.45vh;
    border-radius: 1px;
}

.status-bar svg {
    position: absolute;
    color: #fff;
    z-index: 1;
    padding: 0 10px;
    font-size: 15px;
}

.status-bar-bg {
    background: #30475e;
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 2px;
    left: 0;
}

.short {
    width: 30px;
    justify-content: center;
}

#heal {
    background: #31a372;
}

#zirh {
    background: #3989ff;
}

#yemek, #car-yemek {
    background: #d5993d;
}

#su, #car-su {
    background: #4a79af;
}


#stamina {
    background: #485a78;
}

#oxy {
    background: #800;
}

/* Money */
.money-cash {
    opacity: 0.0;
    position: absolute;
    right: 5vw;
    top: 7vh;
    font-family: 'pdown';
    font-weight: 400;
    font-size: 29px;
    padding: 4px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-right: 6px;
    margin-top: 6px;
}

.money-cash p {
    padding: 5px 0;
    margin: 0;
}

.munnie {
    color: #277418;
}

#cash, #addCashValue {
    color: white;
}

#addCash {
    opacity: 0.0;
}

.baryemek i, .barsu i {
    font-size: 15px;
    color: #fff;
    position: relative;
    z-index: 1;
}

.baryemek{
    box-shadow: 0px 1px 1px 0px rgba(59, 59, 59, 0.815);
    background: rgba(26, 26, 26, 0.568);
    margin-right: 150px;
    position: relative;
    right: 357.90px;
    bottom: 50px;
    border-radius: 2px;
    display: flex;
    flex-grow: 1;
    height: 5px; 
    justify-content: center;
    align-items: center;
    max-width: 150px;
    width: 150px;
    border-radius: 2px;
}


.barsu {
    box-shadow: 0px 1px 1px 0px rgba(59, 59, 59, 0.815);
    background: rgba(26, 26, 26, 0.568);
    margin-right: 50px;
    position: relative;
    right: 200px;
    bottom: 55px;
    border-radius: 2px;
    display: flex;
    flex-grow: 1;
    height: 5px; 
    justify-content: center;
    align-items: center;
    max-width: 150px;
    width: 150px;
    border-radius: 2px;
}

/* Hud Menü */
.hud-menu-container {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 9999;
}

.hud-menu {
    width: 1000px;
    background: #484848;
}

.hud-checkbox-menu-container {
    display: flex;
    flex-wrap: wrap;
}

.hud-command-menu {
    color: #fff;
    background: #484848;
    max-height: 500px;
    overflow: auto;
}

/* width */
.hud-command-menu::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.hud-command-menu::-webkit-scrollbar-track {
    background: #383838;
}
  
  /* Handle */
.hud-command-menu::-webkit-scrollbar-thumb {
    background: #212121;
}
  
  /* Handle on hover */
.hud-command-menu::-webkit-scrollbar-thumb:hover {
    background: #010101;
}

.hud-command-content {
    display: flex;
    flex-direction: row;
}

.hud-command-name {
    border-right: 1px solid #212121;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 150px;
}

.hud-command-exp {
    padding: 15px;
}

.hud-menu-header {
    background: #212121;
    display: flex;
    height: 45px;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.hud-menu-header-text {
    font-weight: bold;
}

.hud-menu-header-close {
    font-size: 25px;
}

.hud-menu-header-close:hover {
    color: rgb(214, 0, 0);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbbbbb;
    box-shadow: inset 0 1px 3px rgb(0 0 0 / 22%);
    border-radius: 1px;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 2px 5px rgb(0 0 0 / 22%);
    border-radius: 1px;
}
  
input:checked + .slider {
    background-color: #629749;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #629749;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.hud-menu-content {
    padding: 5px 10px;
    width: 480px;
}

.hud-menu-content-setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hud-menu-content-setting-text {
    color: #fff;
    font-weight: 400;
}

/* black bar */
.blackbar-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 99;
}

.blackbar-bar {
    width: 100%;
    height: 10vh;
    background: #000;
}

/* salty Uyarı */
.salty-error {
    display: none;
    background: rgb(51 51 51 / 50%);
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
    text-shadow: 1px 1px #000;
}